<div class="sidebar">
  <%= link_to( root_path, class: 'sidebar-contents') do %>
    <p class="side-content">トップページ</p>
  <% end %>
  <%= link_to( new_supplier_path, class: 'sidebar-contents') do %>
    <p class="side-content" >取引先新規登録</p>
  <% end %>
</div>