<%= render 'sidebar' %>
<div class="main-contents">
<% if @suppliers.present? %>
  <div class="contents">
    <% @suppliers.each do |supplier| %>
      <div class="">
        <%= link_to "#{supplier.name}", supplier_path(supplier) %>
      </div>
    <% end %>
  </div>
<% end %>
</div>