<%= render 'sidebar' %>
<div class="main-contents">
  <div class="contents">
    <h2 class="search-result">
      <%= params[:value] %>
      <span class="search-result-text">検索結果</span>
    </h2>
    <div class="search-result-number">
      <%= @suppliers.length %>件の表示
    </div>
    <div class="supplier-box">
      <% @suppliers.each do |supplier| %>
        <div class="one-box">
          <%= link_to "#{supplier.name}", supplier_path(supplier) %>
        </div>
      <% end %>
    </div>
    
  </div>
</div>